<body>
  <div class="container">
    <h1>Festive Seasons</h1>
  </div>
</body>

<!-- const config = { headers: { Authorization: "Client-ID
yQ3koYj1dJF0YF2CYiMGsmbnHBb4oqPciRaSWKTQ82U", }, }; let img_urls = []; axios
.get("https://api.unsplash.com/search/photos?query=pongal", config) .then((res)
=> { res.data.results.map((entity) => { img_urls.push(entity.urls.full); }); })
.then(() => console.log("img_urls", img_urls)); */ // headings //
document.getElementById("heading").innerHTML = heading(); // festivals; // const
elements = document.getElementsByClassName("festive"); /*
[...elements].forEach((e, index, fullArray) => { const img_url =
"https://images.unsplash.com/photo-1601381718415-a05fb0a261f3?ixid=MXwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8ODl8fHxlbnwwfHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1216&q=80";
console.log("img_urls.length", img_urls.length); e.innerHTML =
festival(img_urls[index]); });  -->

<!-- hx-headers='{"Authorization": "Client-ID
yQ3koYj1dJF0YF2CYiMGsmbnHBb4oqPciRaSWKTQ82U"}' -->

<!--
{
  test: /\.html$/i,
  type: "asset/resource",
  include: [path.join(__dirname, "src/template/nunjucks/")],
  // exclude: [path.join(__dirname, "src/template/nunjucks/tryme.html")],
},
-->

<!-- 

  <!-- <div hx-ext="client-side-templates">
      <div
        hx-trigger="load once"
        hx-get="https://api.unsplash.com/search/photos?query=pongal"
        hx-swap="innerHTML"
        hx-target="#heading"
        nunjucks-template="heading-njk"
      >
        Load here
      </div>
      <script id="heading-njk" type="nunjucks">
        {% include "heading.html" %}
      </script>
      <div id="heading"></div>
    </div>-->

<!--<div hx-ext="client-side-templates">
      <button
        hx-get="https://api.unsplash.com/search/photos?query=pongal"
        hx-swap="innerHTML"
        hx-target="#festivals"
        nunjucks-array-template="festivalList"
      >
        Click Me
      </button>

      <script id="festivalList" type="nunjucks">
        {% for item in data.results %}
          {% include "festival.html" %}
           // <li> {{ item.results.id}} </li> 
          {% else %}
          <li>This would display if the 'item' collection were empty</li>
        {% endfor %}
      </script>

      <ul id="festivals"></ul>
    </div>-->
-->
