<!-- Tailwindui | Marketing | Page Sections | Header Sections | Simple on dark -->
<div class="bg-gray-900 py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">
        Harvest Festivals of India
      </h2>
      <p class="mt-6 text-4xl leading-8 text-gray-300">
        <a href="https://htmx.org" target="_blank">
          <span class="font-medium"> &lt; </span>
          <span class="font-bold text-blue-500"> / </span>
          <span class="font-medium"> &gt; </span>
          <span class="font-medium"> htm </span>
          <span class="font-bold text-blue-500"> x </span>
        </a>
      </p>
    </div>
  </div>
</div>
