{% raw %}
  <div hx-ext="client-side-templates">
    <button
      hx-get="https://api.unsplash.com/search/photos?query=pongal"
      hx-swap="innerHTML"
      hx-target="#festivals"
      nunjucks-array-template="festivalList">
      Click Me
    </button>
    <!-- tailwindui | marketing | testimonials | side-by-side -->
    <section class="bg-white py-20 sm:py-16">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div id="festivals" class="mx-auto grid max-w-2xl grid-cols-1 lg:mx-0 lg:max-w-none lg:grid-cols-2"></div>
      </div>
    </section>
    <script id="festivalList" type="nunjucks">
      {% set i = -1 %}
      {% for item in data.results %}
        {% if item.description %}
          {% set i = i + 1 %}
          {% if i % 2 != 0 %}
            <div class="order-{{ i }} flex flex-col border-t border-gray-900/10 pt-10 sm:pt-16 lg:border-r-0 lg:border-t-0 lg:pl-8 lg:pt-0
              xl:pl-20">
            {% else %}
              <div class="order-{{ i }} flex flex-col border-t border-gray-900/10 pt-10 sm:pt-16 lg:border-r lg:border-t-0 lg:pl-8 lg:pt-0
                xl:pl-20">
              {% endif %}
              <img class="h-12 self-start" src="https://tailwindui.com/img/logos/tuple-logo-gray-900.svg" alt=""/>
              <figure class="m-10 flex flex-auto flex-col justify-between">
                <blockquote
                  class="text-lg leading-8 text-gray-900">
                  {# <p>“ {{ item.description }}”</p> #}
                  <p>“Amet amet eget scelerisque tellus sit neque faucibus non eleifend. Integer eu praesent at a. Ornare arcu gravida
                    natoque erat et cursus tortor consequat at. Vulputate gravida sociis enim nullam ultricies habitant malesuada lorem ac.
                    Tincidunt urna dui pellentesque sagittis.”</p>
                </blockquote>
                <figcaption class="mt-10 flex items-center gap-x-6">
                  <img
                    class="h-14 w-14 rounded-full bg-gray-50"
                    src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                    alt="">
                    <div class="text-base">
                      <div class="font-semibold text-gray-900">Judith Black</div>
                      <div class="mt-1 text-gray-500">CEO of Tuple</div>
                    </div>
                  </figcaption>
                </figure>
              </div>
              {% else %}
              {# This would display if the 'item' collection were empty #}
            {% endif %}
          {% endfor %}
        </script>
      </div>
    {% endraw %}