<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="heading"></div>

    <!--  <div class="container">
      <div class="festive"></div>
      <div class="festive"></div>
    </div> -->

    <div hx-ext="client-side-templates">
      <button
        hx-get="https://api.unsplash.com/search/photos?query=pongal"
        hx-swap="innerHTML"
        hx-target="#content"
        mustache-array-template="foo"
      >
        Click Me
      </button>

      <p id="content">Start</p>

      <template id="foo">
        {{#data.results}}
        <p>{{alt_description}} at {{id}} is with {{urls.full}}</p>
        {{/data.results}}
      </template>
    </div>
  </body>
</html>
